.botaopomodoro {
    width: 100%;
    margin-bottom: 1px;
    margin-left: 0px;
    
    
    font: 5em comic sans ms;
    font-weight: 900;
    height: 100px;
}

.movepracima {
    margin-top: 0px;
}


.preto {
    background-color: black;
    color: gray;
}
.vermelho {
    background-color: red;
    color: black;
}