<ul *ngFor="let task of tasks" class="lis">
    <button (click)="removeTask(task)" class="botaolongo lis">
        <ul  *ngFor="let todo of todoList">
            <app-todo [id]='todo'  (delete)="deleteItem($event)"></app-todo>
        </ul>
        <app-todo [id]='todo' (delete)="deleteItem($event)" class="botaolongo">{{task}}</app-todo>
    </button>
</ul>
<div (click)="showMyContainer=!showMyContainer" (click)="focusTextInput()" class="alturatotal"></div>
<div *ngIf="showMyContainer">
    <input #input  (click)="addTask(input.value)"  (click)="input.value='' " class="botaolongo embaixo"  (keyup.enter)="addTask(input.value)"  (keyup.enter)="input.value='' ">
    <div class="botaolongo alturatotal hid" (click)="addTask(input.value)"  (click)="input.value='' "></div>
</div>
