.botaolongo{
    width: 100%;
    height: 100px;
    font-size: 50px;
    margin-left: -50;
    border: 5px;
}

.alturatotal{
    height: 100vh;
    color: rgb(207, 207, 207);
    width: 100vw;
}

input {
    color: black;
    background-color: rgb(73, 121, 0);
        padding-left: 0px;
    border: 2px solid;
    border-color: rgb(90, 0, 0);
    color: rgb(207, 207, 207);
    background-color: black;
}

.embaixo{
    position: fixed;
    top:0;
}

.hid{
    background-color: rgb(0, 0, 71);
    z-index: 10;
    top: 100px;
    position: fixed;
}

.lis {
    padding: 0px;
    margin: 0px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    padding-left: 0px;
    border: 2px solid;
    border-color: rgb(148, 0, 0);
    color: rgb(207, 207, 207);
    background-color: black;
    
}
